#v-pills-tab {
    background-color: rgba($body-bg, 0.4);

    button:hover,
    button:active {
        color: $success !important;
    }

    button {
        color: $body-color;
    }
}

#extracurriculars {
    padding: 10px;
    border-radius: 20px;
    background-color: $body-color;
    color: $body-bg;
}

.section-header {
    color: $body-bg;
}