.nav-item {
    box-shadow: none;
}

#navbarContent {
    box-shadow: none;
}

.navbar {
    box-shadow: none;
    background-image: none;
}

.nav-link {
    color: #dedede;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}