.disabled {
  pointer-events: none;
}

.project-content {
    padding: 10px;
    min-height: 300px;
    max-height: 300px;
    color: $gray-100;
    border: $body-bg;
    background-color: $body-color;
  }

.project-border-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.project-border-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}


.project-title {
  padding: 5px;
  font-size: 20px;
  color: $body-bg;
}

.project-body {
  text-decoration: none;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  color: $body-bg;
}

.project-button-link {
  max-height: 40px;
  min-height: 40px;
  max-width: 40px;
  min-width: 40px;
  background-color: transparent !important;
  border: 1px solid $body-bg !important;
  position: absolute;
  bottom: 10px;
  padding: 5px;
}

.project-button-link:hover {
  background-color: rgba($body-bg, 0.5) !important;
}

.content-container {
  z-index: 1;
}

.image-height {
  min-height: 300px;
  max-height: 300px;
}

#projects-link {
  background-color: #333333;
}
